div {
	font-family: Arial, Helvetica, sans-serif;
}

.textbox {
	padding: 0px 10px 0px 0px;
	height: 284px;
	width: 556px;
	background:none;
	text-align:justify;
	font-size:14;
	line-height:150%;
	color:#E1D7D7;
	outline:none;
	border:none;
	resize:none;
	overflow:auto;
}
