div {
	font-family: Arial, Helvetica, sans-serif;
}

.textbox2 {
	padding: 50px 0px 0px 120px;
	height: 418px;
	width: 850px;
	background:none;
	text-align:justify;
	font-size:18;
	line-height:180%;
	color:#000000;
	outline:none;
	border:none;
	resize:none;
	overflow:auto;
	margin:0px auto;
}
