div {
	font-family: Arial, Helvetica, sans-serif;
}

.textbox {
	padding: 50px 0px 0px 0px;
	height: 550px;
	width: 970px;
	background:none;
	text-align:center;
	font-size:24;
	line-height:180%;
	color:#EDEBEB;
	outline:none;
	border:none;
	resize:none;
	overflow:auto;
	margin:0px auto;
}
